.footer_wrapper 
    border-radius: 0 0 10px 10px
    background: #213991 

.footer_list 
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 6px
    justify-items: center
    height: 41px
    border-radius: 10px
    margin-left: 20px
    margin-right: 20px
    li
        position: relative
        margin-top: 10px
        text-align: center
        font-weight: 400
        font-size: 12px
        color: #fff
        opacity: .5
        cursor: pointer
        &:hover
            opacity: 1
    .active 
        opacity: 1
    .active::after
        display: block
        position: absolute
        transform: translateX(-50%)
        left: 50%
        top: -10px
        content: ""
        width: 65px
        border-top: 3px solid #6DD453

