.header
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #C9CFE3
    padding: 6px
    padding-right: 16px
    padding-left: 12px
    .statusDot
        width: 8px
        height: 8px
        border-radius: 50%
    .status_dot_active
        background-color: #70de3c
    .status_dot_hold
        background-color: #BFBFBF
    .status_dot_inCall
        background-color: #554AFF
    .name
        font-weight: 400
        font-size: 12px
        text-align: start
        font-weight: 400
    .nav
        display: flex
        justify-content: space-between 
        margin: 0
        padding: 0
        img
            display: block
            width: 9px
            height: 9px
            cursor: pointer
        .drop_dawn
            margin-right: 8px
