ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.callBtn {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	align-self: center;
	justify-self: center;
}

.callBtn > li {
	width: 100%;
}

.callBtn > li > input {
	width: 100%;
}
