.line_list
    display: flex
    justify-content: space-between
    margin-top: 10px
    margin-left: 12px
    margin-right: 12px 
    li
        font-family: 'Roboto-Light'
        font-weight: 400
        font-size: 11px
        background-color: #F0F1F8
        border-radius: 3px
        padding: 5px
        color: #AEAEAE
    .isActive
        background-color: #6DD453
        color: #fff
